---
import Breadcrumbs from "@/components/breadcrumbs.astro";
import Header from "@/components/header.astro";
import Access from "@/components/raid-components/access.astro";
import AlternateIdentifiers from "@/components/raid-components/alternate-identifiers.astro";
import AlternateUrls from "@/components/raid-components/alternate-urls.astro";
import Contributors from "@/components/raid-components/contributors.astro";
import Dates from "@/components/raid-components/dates.astro";
import Descriptions from "@/components/raid-components/descriptions.astro";
import Organisations from "@/components/raid-components/organisations.astro";
import Raw from "@/components/raid-components/raw.astro";
import RelatedObjects from "@/components/raid-components/related-objects.astro";
import RelatedRaidsTree from "@/components/raid-components/related-raids-tree.astro";
import Subjects from "@/components/raid-components/subjects.astro";
import Titles from "@/components/raid-components/titles.astro";
import type { ModelDate, RaidDto } from "@/generated/raid";
import Layout from "@/layouts/main.astro";
import { raids } from "@/store/raids";
import { getLastTwoUrlSegments } from "@/utils";

export async function getStaticPaths() {
  return raids.map((el) => {
    const [_, prefix, suffix] = new URL(el.identifier.id).pathname.split("/");
    return {
      params: {
        prefix,
        suffix,
      },
      props: {
        raid: el,
      },
    };
  });
}

const { prefix, suffix }: { prefix: string; suffix: string } = Astro.params;
const { raid } = Astro.props as unknown as { raid: Partial<RaidDto> };
---

<Layout title={`RAiD ${prefix}/${suffix}`}>
  <script
    type="application/ld+json"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "ResearchProject",
      name: raid?.title?.map((el) => el.text).join(" | ") || "",
      identifier: {
        "@type": "PropertyValue",
        propertyID: "RAID",
        value: raid?.identifier?.id || "",
      },
      alternateName: raid?.identifier?.id || "",
      url: `https://doi.org/${getLastTwoUrlSegments(raid?.identifier?.id || "")}`,
      funder: {
        "@type": "Organization",
        identifier: raid?.identifier?.registrationAgency?.id || "",
      },
    })}
  />

  <div class="sticky top-0 z-10 bg-white border border-gray-300 border-b-0">
    <Breadcrumbs
      elements={[
        { to: "/raids", label: "RAiDs" },
        { to: `/raids/${prefix}`, label: `${prefix}` },
        { to: `/raids/${prefix}/${suffix}`, label: `${suffix}` },
      ]}
    />
    <Header
      id={`${prefix}/${suffix}`}
      label={raid.title?.map((el) => el.text).join(" | ")}
    />
  </div>

  <div class="overflow-hidden border-x border-b border-gray-300 rounded-b-md">
    <div class="divide-y">
      <div class="divide-y">
        <Dates dates={raid?.date || ({} as ModelDate)} />
        <Titles titles={raid?.title || []} />
        <Descriptions descriptions={raid?.description || []} />
        <Contributors contributors={raid?.contributor || []} />
        <Organisations organisations={raid?.organisation || []} />
        <RelatedObjects relatedObjects={raid?.relatedObject || []} />
        <AlternateIdentifiers
          alternateIdentifiers={raid?.alternateIdentifier || []}
        />
        <AlternateUrls alternateUrls={raid?.alternateUrl || []} />
        <RelatedRaidsTree
          relatedRaids={raid?.relatedRaid || []}
          currentRaidId={`${prefix}/${suffix}`}
        />
        {raid?.access && <Access access={raid?.access} />}
        <Subjects subjects={raid?.subject || []} />
        <Raw raid={raid} />
      </div>
    </div>
  </div>
</Layout>
